//
    deletedialog.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

md-dialog(flex="percentage")
    md-toolbar
        .md-toolbar-tools(layout="row", layout-align="end center")
            h3(flex)
                span(flex) 削除
            div
                md-button.md-raised.md-primary(ng-click='cancel()', aria-label="Cancel")
                    ng-md-icon.iconfill(icon="cancel", size="46")
                    md-tooltip キャンセル

    md-dialog-content
        md-divider
        div.md-actions(layout="row", layout-align="space-around center")
            md-button.md-raised.md-primary(ng-click='answer()', aria-label="Delete") Delete
            md-tooltip 削除