//
    browserS.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

md-content(style="background-color: #A0A0FF;")
    md-list
        md-list-item(ng-repeat="patient in patients")
            md-card(layout="row", flex)
                md-card-content(layout="row", layout-align="start center", flex)
                    div(flex="20")
                        md-button.md-fab.md-accent(ng-click="next(patient._id)", aria-label="Description")
                            ng-md-icon(icon="assignment_ind", style="fill:#abcdef", size="40")
                            md-tooltip Description...

                    div(layout="column", flex="20")
                        div
                            span() {{patient.Category}}

                    div(layout="column", flex="20")
                        div
                            span(style="font-size:9px;") {{patient.Information.kana}}
                        div
                            span.md-subhead {{patient.Information.name}}
                    div(layout="column", flex="20")
                        div
                            span.md-subhead(style="font-size:9px;") {{patient.Information.insurance}}
                        div
                            span.md-subhead {{patient.Date | date:'yyyy-MM-dd HH:mm:ss'}}
                    div(flex="20",layout="row", layout-align="end center")
                        div {{patient.Status | status}}

