extends layout.jade

block content
   body.background(ng-app="TopApplication",ng-controller="TopController")
      md-toolbar(md-scroll-shrink)
         .md-toolbar-tools(layout="row", layout-align="end center")
            h3(flex)
               span wmonsin
               h1= message
               h2= error.status
block include
