//
   Created by oda on 15/04/13.

md-dialog(flex)
    md-toolbar
        .md-toolbar-tools(layout="row", layout-align="end center")
            h3(flex)
                span(flex) {{'accept' | message}}
            div
                md-button.md-raised.md-primary(ng-click='cancel()', aria-label="{{'cancel' | message }}")
                    ng-md-icon(icon="cancel", style="fill:#ffffff" size="46")
                    md-tooltip キャンセル

    md-content
      md-card
       md-card-content
        ng-form(name="validate")
            div(layout="row", layout-align="start center")
                ng-md-icon(icon="account_circle", style="fill:#abcdef", size="46")
                md-input-container(flex)
                    label {{'name' | message }}
                    input(ng-model="items.name", data-ng-required="true", name="username", placeholder='Enter Name', md-maxlength="30", required)
                    div(ng-messages="validate.username.$error")
                        div(ng-message="required") {{'required' | message}}
                        div(ng-message="md-maxlength") {{'maxlength' | message}}

            div(layout="row", layout-align="start center")
                ng-md-icon(icon="account_circle", style="fill:#abcdef", size="46")
                md-input-container(flex)
                    label {{'kana' | message }}
                    input(ng-model="items.kana", ng-pattern="/^[ぁ-んァ-ン]+$/", data-ng-required="true", name="kana", placeholder='Enter Kana', md-maxlength="30", required)
                    div(ng-messages="validate.kana.$error")
                        div(ng-message="required") {{'required' | message}}
                        div(ng-message="md-maxlength") {{'maxlength' | message}}
                        div(ng-message="pattern") {{'notkana' | message}}

            div(layout="row", layout-align="start center")
                ng-md-icon(icon="account_circle", style="fill:#abcdef", size="46")
                md-input-container(flex)
                    label {{'patientid' | message }}
                    input(ng-model="items.insurance", ng-pattern="/^[0-9]+$/", data-ng-required="true", name="insurance", placeholder='Enter insurance No', md-maxlength="10", md-minlength="6", required)
                    div(ng-messages="validate.insurance.$error")
                        div(ng-message="required") {{'required' | message}}
                        div(ng-message="md-maxlength") {{'less10d' | message}}
                        div(ng-message="pattern") {{'notnumeric' | message}}

            md-card-content(layout="row", layout-align="start center", flex)
                md-select(placeholder="診療科", ng-model="items.category", required)
                    md-option(ng-repeat="category in categories", value="{{category}}") {{category}}

                    //md-option(value="精神科") 精神科
                    //md-option(value="神経科") 神経科
                    //md-option(value="神経内科") 神経内科
                    //md-option(value="呼吸器科") 呼吸器科
                    //md-option(value="消化器科") 消化器科
                    //md-option(value="胃腸科") 胃腸科
                    //md-option(value="循環器科") 循環器科
                    //md-option(value="形成外科") 形成外科
                    //md-option(value="美容外科") 美容外科
                    //md-option(value="脳神経外科") 脳神経外科
                    //md-option(value="呼吸器外科") 呼吸器外科
                    //md-option(value="心臓血管外科") 心臓血管外科
                    //md-option(value="小児外科") 小児外科
                    //md-option(value="皮膚ひ尿器科") 皮膚ひ尿器科
                    //md-option(value="皮膚科") 皮膚科
                    //md-option(value="ひ尿器科") ひ尿器科
                    //md-option(value="性病科") 性病科
                    //md-option(value="こう門科") こう門科
                    //md-option(value="産婦人科") 産婦人科
                    //md-option(value="産科") 産科
                    //md-option(value="婦人科") 婦人科
                    //md-option(value="眼科") 眼科
                    //md-option(value="気管食道科") 気管食道科
                    //md-option(value="放射線科") 放射線科
                    //md-option(value="麻酔科") 麻酔科
                    //md-option(value="心療内科") 心療内科
                    //md-option(value="アレルギー科") アレルギー科
                    //md-option(value="リウマチ科") リウマチ科
                    //md-option(value="リハビリテーション科") リハビリテーシ
                    //md-option(value="病理診断科") 病理診断科
                    //md-option(value="臨床検査科") 臨床検査科
                    //md-option(value="救急科") 救急科

            div(layout="row" layout-align="space-around center")
                md-button.md-raised.md-primary(ng-click='answer()', ng-disabled="validate.$invalid", aria-label="Save") {{'accept' | message}}