md-bottom-sheet(class="md-grid")
    //md-card-content
        md-input-container
            label Query
            input(ng-model="query",data-ng-required="true", name="query", placeholder='Query', type="text", md-maxlength="30")
    md-list
        md-item(ng-repeat="item in items")
            md-button(ng-click="ItemClick($index)", class="md-grid-item-content")
                ng-md-icon(icon="{{item.icon}}", style="fill:#abcdef", size="46")
                div(class="md-grid-text") {{ item.name }}