//
    start.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

md-content.md-padding(layout="column")

    h1.md-display-3 Start