extends layout.jade
block content

    body.background(layout="column" ng-app="PatientsApplication")
        div(ui-view="")

block include

    if state == "debug"
        script(type="text/javascript", src="javascripts/PatientsApplication.js")
        script(type="text/javascript", src="javascripts/PatientsControllers.js")
        script(type="text/javascript", src="../javascripts/TopControllers.js")
    else
        script(type="text/javascript", src="../javascripts/client.min.js")