//
    index.jade
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

- var debug = false;
doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="format-detection", content="telephone=no")
        meta(name="msapplication-tap-highlight", content="no")
        meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height")
        title wmonsin
        link(rel="apple-touch-icon", sizes="57x57", href="../favicons/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="../favicons/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="../favicons/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="../favicons/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="../favicons/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="../favicons/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="../favicons/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="../favicons/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="../favicons/apple-touch-icon-180x180.png")
        link(rel="icon", type="image/png", href="../favicons/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="../favicons/android-chrome-192x192.png", sizes="192x192")
        link(rel="icon", type="image/png", href="../favicons/favicon-96x96.png", sizes="96x96")
        link(rel="icon", type="image/png", href="../favicons/favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="../favicons/manifest.json")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="msapplication-TileImage", content="../favicons/mstile-144x144.png")
        meta(name="theme-color", content="#ffffff")
        link(rel="stylesheet", type="text/css", href="/bower_components/angular-material/angular-material.min.css")
        link(rel="stylesheet", type="text/css", href="stylesheets/style.css")
    body.background(ng-app="AccountApplication", ng-controller="ApplicationController",layout="column", layout-fill)

        md-toolbar(style="z-index:10;")
            .md-toolbar-tools(layout-align="center center")
                h3.md-display-1(flex="50", ng-bind="username + '-' + type")

                div(flex="10")
                    md-button.md-fab.menu-button.lock-size(ng-click="goTop()", aria-label="", style="background-color:#26969a;z-index:10;")
                        ng-md-icon(icon="home", aria-label="Top", style="position:relative;top:5px;fill:#a0ffff", size="42")
                        md-tooltip(ng-bind="'top' | message")

                div(flex="10", ng-show="type == 'Admin'")
                    md-button.md-fab.menu-button.lock-size(ng-click="goConfig()", aria-label="", style="background-color:#EC407A;z-index:10;")
                        ng-md-icon(icon="settings", aria-label="Config", style="position:relative;top:5px;fill:#F8BBD0", size="42")
                        md-tooltip(ng-bind="'config' | message")

                div(flex="10", ng-show="type != 'Viewer'")
                    md-button.md-fab.menu-button.lock-size(ng-click="goEdit()", aria-label="", style="background-color:#B2EBF2;z-index:10;")
                        ng-md-icon(icon="edit", aria-label="Edit", style="position:relative;top:5px;fill:#0097A7", size="42")
                        md-tooltip(ng-bind="'config' | message")

                div(flex="10", ng-show="mode == 'Patient'")
                    md-button.md-fab.menu-button.lock-size(ng-click="goAccount()", aria-label="", style="background-color:#B3E5FC;z-index:10;")
                        ng-md-icon(icon="face", aria-label="Account", style="position:relative;top:6px;fill:#039BE5", size="42")
                        md-tooltip(ng-bind="'stuff' | message")

                div(flex="10", ng-show="mode == 'Account'")
                    md-button.md-fab.menu-button.lock-size(ng-click="goPatient()", aria-label="", style="background-color:#039BE5;z-index:10;")
                        ng-md-icon(icon="perm_identity", aria-label="Patients", style="position:relative;top:6px;fill:#B3E5FC", size="42")
                        md-tooltip(ng-bind="'patient' | message")

                div(flex, ng-show="type == ''")
                    md-button.md-fab.menu-button.lock-size(ng-click="showLoginDialog()", aria-label="", style="background-color:#FFCDD2;z-index:10;")
                        ng-md-icon(icon="check_box_outline_blank", aria-label="Account", style="position:relative;top:5px;fill:#D50000", size="42")
                        md-tooltip(ng-bind="'login' | message")

                div(flex, ng-show="type != ''")
                    md-button.md-fab.menu-button.lock-size(ng-click="Logout()", aria-label="", style="background-color:#D50000;z-index:10;")
                        ng-md-icon(icon="check_box", aria-label="Account", style="position:relative;top:5px;fill:#FFCDD2", size="42")
                        md-tooltip(ng-bind="'logout' | message")

        div(layout="row")
            div(flex, ui-view="")

script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="/bower_components/hammerjs/hammer.min.js")
script(type="text/javascript", src="/bower_components/angular/angular.min.js")
script(type="text/javascript", src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")
script(type="text/javascript", src="/bower_components/angular-animate/angular-animate.min.js")
script(type="text/javascript", src="/bower_components/angular-aria/angular-aria.min.js")
script(type="text/javascript", src="/bower_components/angular-material/angular-material.min.js")
script(type="text/javascript", src="/bower_components/angular-material-icons/angular-material-icons.min.js")
script(type="text/javascript", src="/bower_components/angular-messages/angular-messages.min.js")
script(type="text/javascript", src="/bower_components/angular-resource/angular-resource.min.js")

script(type="text/javascript", src="/bower_components/angular-translate/angular-translate.min.js")
script(type="text/javascript", src="/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js")
script(type="text/javascript", src="/bower_components/angular-translate-storage-local/angular-translate-storage-local.min.js")
script(type="text/javascript", src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js")
script(type="text/javascript", src="/bower_components/angular-translate-handler-log/angular-translate-handler-log.min.js")

script(type="text/javascript", src="/javascripts/canvas2image/canvas2image.js")
script(type="text/javascript", src="/jaascripts/svg-morpheus/svg-morpheus.js")

script(type="text/javascript", src="/bower_components/lodash/lodash.min.js")
script(type="text/javascript", src="/bower_components/fabric/dist/fabric.min.js")
script(type="text/javascript", src='/bower_components/jquery/dist/jquery.min.js')

if debug
    script(type="text/javascript", src="javascripts/AccountApplication.js")
    script(type="text/javascript", src="javascripts/AccountControllers.js")
    script(type="text/javascript", src="../javascripts/TopControllers.js")
else
    script(type="text/javascript", src="javascripts/AccountApplication.min.js")
    script(type="text/javascript", src="javascripts/AccountControllers.min.js")
    script(type="text/javascript", src="../javascripts/TopControllers.min.js")
