//
    patientdialog.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

md-content(style="background-color: #A0A0FF;")
    md-card
        md-card-content
            h1.md-headline 問診内容
            h4 {{Information.time}}
            h3 {{Information.kana}}
            h4 {{Information.name}}  -  {{Information.insurance}}
        md-card-content
            md-button.md-fab.md-warn(ng-click="showSheet()", aria-label="Done", ng-if="type == 'Admin' || type == 'Editor'")
                ng-md-icon(icon="{{icon}}", style="fill:#ffffff", size="46", options='{"rotation": "none"}')
                md-tooltip ツール...

            //md-button.md-fab.md-accent(ng-click='update()', aria-label="", ng-if="type == 'Admin' || type == 'Editor'")
                ng-md-icon(icon="save", style="fill:#abcdef", size="46", id="icon")
                md-tooltip 保存

        md-card-content
            md-switch(ng-model="IsDone") Done

    md-tabs(md-dynamic-height, md-border-bottom)

        md-tab(label="data")
            md-list
                md-card-content(layout layout-align="center center", ng-repeat="item in Input")

                    div(layout="row",ng-show="item.type == 'text'", flex)
                        md-card(flex)
                            md-card-content(layout="row", layout-align="start center", flex)
                                label.md-subhead {{item.name}}
                                    .md-title {{item.value}}

                    div(layout="row",ng-show="item.type == 'select'", flex)
                        md-card(flex)
                            md-card-content(layout="row", layout-align="start center", flex)
                                label.md-subhead {{item.name}}
                                    .md-title {{item.value}}

                    div(layout="row",ng-show="item.type == 'check'", flex)
                        md-card(flex)
                            md-card-content(layout="row", layout-align="start center", flex)
                                label.md-subhead {{item.name}}
                                    .md-title {{item.value}}

                    div(layout="row",ng-show="item.type == 'numeric'", flex)
                        md-card(flex)
                            md-card-content(layout="row", layout-align="start center", flex)
                                label.md-subhead {{item.name}}
                                    .md-title {{item.value}}

        md-tab(label="copyable")
            md-card
                md-card-content(layout-align="start start",flex)
                    div(layout="column", ng-repeat="item in Input", flex)
                        div(ng-show="item.type == 'text'")
                            strong {{item.name}} :
                            span {{item.value}}
                        div(ng-show="item.type == 'select'")
                            strong {{item.name}} :
                            span {{item.value}}
                        div(ng-show="item.type == 'check'")
                            strong {{item.name}} :
                            span {{item.value}}
                        div(ng-show="item.type == 'numeric'")
                            strong {{item.name}} :
                            span {{item.value}}

        md-tab(label="schema")
            md-card
                div(layout="row", flex)
                    div(flex)
                        md-button.md-fab.md-warn(ng-click="download()", aria-label="Download")
                            ng-md-icon(icon="save", style="fill:#abcdef", size="46", id="icon")

                    div(flex)
                        canvas#cc(width="300", height="600")

                    div(flex)
