//
    patientdialog.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

md-content(style="background-color: #A0A0FF;")
    md-card
        md-card-header
            h1.md-headline 問診内容
            h4 {{Information.time}}
            h3 {{Information.kana}} [ {{Information.name}}  -  {{Information.insurance}} ]

    md-card
                md-card
                    div(layout="row")
                        div(flex)
                        div(flex)
                            canvas#schema(width="300", height="600")
                        div(flex)

                md-card
                    md-card-content(layout-align="start start",flex)
                        div(layout="column", ng-repeat="item in Input", flex)
                            div(ng-show="item.type == 'text'")
                                strong {{item.name}} :
                                span {{item.value}}
                            div(ng-show="item.type == 'select'")
                                strong {{item.name}} :
                                span {{item.value}}
                            div(ng-show="item.type == 'check'")
                                div(ng-show="item.value")
                                    strong {{item.name}} :
                                    span {{item.value}}
                            div(ng-show="item.type == 'numeric'")
                                strong {{item.name}} :
                                span {{item.value}}
